In [1]:
#To use BigQuery, we'll import the Python package 
from google.cloud import bigquery

In [2]:
# Create a "Client" object, his Client object will play a central role in retrieving information from BigQuery datasets.
client = bigquery.Client()

Using Kaggle's public dataset BigQuery integration.

In [3]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [4]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [5]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("comments")

# API request - fetch the table
table = client.get_table(table_ref)

In [6]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('id', 'INTEGER', 'NULLABLE', 'Unique comment ID', ()),
 SchemaField('by', 'STRING', 'NULLABLE', 'Username of commenter', ()),
 SchemaField('author', 'STRING', 'NULLABLE', 'Username of author', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('time_ts', 'TIMESTAMP', 'NULLABLE', 'Human readable time in UTC (format: YYYY-MM-DD hh:mm:ss)', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

In [7]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

         id  by author        time   ...      parent deleted  dead ranking
0   2701393  5l     5l  1309184881   ...     2701243    None  None       0
1   5811403  99     99  1370234048   ...     5804452    None  None       0
2     21623  AF     AF  1178992400   ...       21611    None  None       0
3  10159727  EA     EA  1441206574   ...    10159396    None  None       0
4   2988424  Iv     Iv  1315853580   ...     2988179    None  None       0

[5 rows x 10 columns]

In [8]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

         id
0   2701393
1   5811403
2     21623
3  10159727
4   2988424

In [9]:
import pandas as pd

bq_file = client.list_rows(table, max_results=5).to_dataframe()

#save file
with open("my_file.csv","w") as file:
    file.write(bq_file.to_csv())