In [1]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "openaq" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there's only one!)
for table in tables:  
    print(table.table_id)

Using Kaggle's public dataset BigQuery integration.
global_air_quality

In [2]:
# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=10).to_dataframe()

                                   location          ...           averaged_over_in_hours
0             BTM Layout, Bengaluru - KSPCB          ...                             0.25
1             BTM Layout, Bengaluru - KSPCB          ...                             0.25
2             BTM Layout, Bengaluru - KSPCB          ...                             0.25
3             BTM Layout, Bengaluru - KSPCB          ...                             0.25
4             BTM Layout, Bengaluru - KSPCB          ...                             0.25
5  BWSSB Kadabesanahalli, Bengaluru - KSPCB          ...                             0.25
6  BWSSB Kadabesanahalli, Bengaluru - KSPCB          ...                             0.25
7                     BWSSB Kadabesanahalli          ...                             0.25
8  BWSSB Kadabesanahalli, Bengaluru - KSPCB          ...                             0.25
9  BWSSB Kadabesanahalli, Bengaluru - KSPCB          ...                             0.25

[10 rows x 11 columns]

In [3]:
table.schema

[SchemaField('location', 'STRING', 'NULLABLE', 'Location where data was measured', ()),
 SchemaField('city', 'STRING', 'NULLABLE', 'City containing location', ()),
 SchemaField('country', 'STRING', 'NULLABLE', 'Country containing measurement in 2 letter ISO code', ()),
 SchemaField('pollutant', 'STRING', 'NULLABLE', 'Name of the Pollutant being measured. Allowed values: PM25, PM10, SO2, NO2, O3, CO, BC', ()),
 SchemaField('value', 'FLOAT', 'NULLABLE', 'Latest measured value for the pollutant', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'The datetime at which the pollutant was measured, in ISO 8601 format', ()),
 SchemaField('unit', 'STRING', 'NULLABLE', 'The unit the value was measured in coded by UCUM Code', ()),
 SchemaField('source_name', 'STRING', 'NULLABLE', 'Name of the source of the data', ()),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', 'Latitude in decimal degrees. Precision >3 decimal points.', ()),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', 'Longitude in decimal degrees. Precision >3 decimal points.', ()),
 SchemaField('averaged_over_in_hours', 'FLOAT', 'NULLABLE', 'The number of hours the value was averaged over.', ())]

In [4]:
# Query to select all the items from the "city" column where the "country" column is 'US'
query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

In [5]:
# Set up the query
query_job = client.query(query)

# API request - run the query, and return a pandas DataFrame
us_cities = query_job.to_dataframe()

In [6]:
us_cities

                      city
0                  Houston
1                  Houston
2                  Houston
3                  Houston
4                  Houston
5                  Houston
6                  Houston
7                  Houston
8                  Houston
9                  Houston
10                 Houston
11                 Houston
12                 Houston
13                 Houston
14                 Houston
15                 Houston
16                 Houston
17                 Houston
18                 Houston
19                 Houston
20                 Houston
21                 Houston
22                 Houston
23                 Houston
24                 Houston
25                 Houston
26                 Houston
27                 Houston
28                 Houston
29                 Houston
...                    ...
3537                   MT1
3538                   MT1
3539              BOUNDARY
3540               WHATCOM
3541            Bellingham
3542              BOUNDARY
3543               WHATCOM
3544            Bellingham
3545            Bellingham
3546  FS1 - Forest Service
3547              BOUNDARY
3548                JUNEAU
3549             Anchorage
3550             Anchorage
3551             Anchorage
3552             Anchorage
3553     MATANUSKA-SUSITNA
3554     MATANUSKA-SUSITNA
3555     MATANUSKA-SUSITNA
3556     MATANUSKA-SUSITNA
3557         YUKON-KOYUKUK
3558             Fairbanks
3559             Fairbanks
3560             Fairbanks
3561             Fairbanks
3562             Fairbanks
3563             Fairbanks
3564               Atlanta
3565       Mammoth Cave NP
3566                Moscow

[3567 rows x 1 columns]

In [7]:
# What five cities have the most measurements?
us_cities.city.value_counts().head()

Phoenix-Mesa-Scottsdale                     87
Houston                                     82
Los Angeles-Long Beach-Santa Ana            63
New York-Northern New Jersey-Long Island    60
Riverside-San Bernardino-Ontario            59
Name: city, dtype: int64

In [8]:
query = """
        SELECT *
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

# Set up the query
query_job = client.query(query)

# API request - run the query, and return a pandas DataFrame
us_cities = query_job.to_dataframe()

us_cities.head()

                             location          ...           averaged_over_in_hours
0       Freeport South Avenue I C1012          ...                              1.0
1                  Lake Jackson C1016          ...                              1.0
2                       Danciger C618          ...                              1.0
3                       Danciger C618          ...                              1.0
4  Galveston 99th St. C1034/A320/X183          ...                              1.0

[5 rows x 11 columns]

In [9]:
# Query to get the score column from every row where the type column has value "job"
query = """
        SELECT *
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country LIKE "I%" 
        """

# Create a QueryJobConfig object to estimate size of query without running it
dry_run_config = bigquery.QueryJobConfig(dry_run=True)

# API request - dry run query to estimate costs
dry_run_query_job = client.query(query, job_config=dry_run_config)

print("This query will process {} bytes.".format(dry_run_query_job.total_bytes_processed))

This query will process 2394379 bytes.

In [10]:
# Only run the query if it's less than 100 MB
ONE_HUNDRED_MB = 100*1000*1000
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=ONE_HUNDRED_MB)

# Set up the query (will only run if it's less than 100 MB)
safe_query_job = client.query(query, job_config=safe_config)

# API request - try to run the query, and return a pandas DataFrame
safe_query_job.to_dataframe()

                                      location          ...           averaged_over_in_hours
0                BTM Layout, Bengaluru - KSPCB          ...                             0.25
1                BTM Layout, Bengaluru - KSPCB          ...                             0.25
2                BTM Layout, Bengaluru - KSPCB          ...                             0.25
3                BTM Layout, Bengaluru - KSPCB          ...                             0.25
4                BTM Layout, Bengaluru - KSPCB          ...                             0.25
5     BWSSB Kadabesanahalli, Bengaluru - KSPCB          ...                             0.25
6     BWSSB Kadabesanahalli, Bengaluru - KSPCB          ...                             0.25
7                        BWSSB Kadabesanahalli          ...                             0.25
8     BWSSB Kadabesanahalli, Bengaluru - KSPCB          ...                             0.25
9     BWSSB Kadabesanahalli, Bengaluru - KSPCB          ...                             0.25
10                City Railway Station - KSPCB          ...                             0.25
11                City Railway Station - KSPCB          ...                             0.25
12                City Railway Station - KSPCB          ...                             0.25
13                City Railway Station - KSPCB          ...                             0.25
14                     SaneguravaHalli - KSPCB          ...                             0.25
15                     SaneguravaHalli - KSPCB          ...                             0.25
16                     SaneguravaHalli - KSPCB          ...                             0.25
17                     SaneguravaHalli - KSPCB          ...                             0.25
18                                         IIT          ...                             0.25
19                                         IIT          ...                             0.25
20                                         IIT          ...                             0.25
21                                         IIT          ...                             0.25
22                                         IIT          ...                             0.25
23                           Alandur Bus Depot          ...                             0.25
24                           Alandur Bus Depot          ...                             0.25
25                           Alandur Bus Depot          ...                             0.25
26                           Alandur Bus Depot          ...                             0.25
27                           Alandur Bus Depot          ...                             0.25
28                   Peenya, Bengaluru - KSPCB          ...                             0.25
29                   Peenya, Bengaluru - KSPCB          ...                             0.25
...                                        ...          ...                              ...
1740                      Bawana, Delhi - DPCC          ...                             0.25
1741                      Bawana, Delhi - DPCC          ...                             0.25
1742                      Bawana, Delhi - DPCC          ...                             0.25
1743                      Bawana, Delhi - DPCC          ...                             0.25
1744                      Alipur, Delhi - DPCC          ...                             0.25
1745                      Alipur, Delhi - DPCC          ...                             0.25
1746                      Alipur, Delhi - DPCC          ...                             0.25
1747                      Alipur, Delhi - DPCC          ...                             0.25
1748                      Alipur, Delhi - DPCC          ...                             0.25
1749                      Alipur, Delhi - DPCC          ...                             0.25
1750                      Narela, Delhi - DPCC          ...                             0.25
1751                      Narela, Delhi - DPCC          ...                             0.25
1752                      Narela, Delhi - DPCC          ...                             0.25
1753                      Narela, Delhi - DPCC          ...                             0.25
1754                      Narela, Delhi - DPCC          ...                             0.25
1755                      Narela, Delhi - DPCC          ...                             0.25
1756                               Anand Vihar          ...                              NaN
1757             Anand Vihar, New Delhi - DPCC          ...                             1.00
1758             Anand Vihar, New Delhi - DPCC          ...                             1.00
1759             Anand Vihar, New Delhi - DPCC          ...                             1.00
1760             Anand Vihar, New Delhi - DPCC          ...                             1.00
1761             Anand Vihar, New Delhi - DPCC          ...                             1.00
1762             Anand Vihar, New Delhi - DPCC          ...                             1.00
1763            Punjabi Bagh, New Delhi - DPCC          ...                             1.00
1764            Punjabi Bagh, New Delhi - DPCC          ...                             1.00
1765            Punjabi Bagh, New Delhi - DPCC          ...                             1.00
1766            Punjabi Bagh, New Delhi - DPCC          ...                             1.00
1767            Punjabi Bagh, New Delhi - DPCC          ...                             1.00
1768            Punjabi Bagh, New Delhi - DPCC          ...                             1.00
1769             US Diplomatic Post: New Delhi          ...                             1.00

[1770 rows x 11 columns]

In [11]:
# returns pollutants and a new column if they have number at the end
query = """
        SELECT pollutant,
            REGEXP_CONTAINS(pollutant, r'[0-9]+') AS has_number    
        FROM `bigquery-public-data.openaq.global_air_quality`
        """

# Set up the query
query_job = client.query(query)

# API request - run the query, and return a pandas DataFrame
us_cities = query_job.to_dataframe()

us_cities.head()

  pollutant  has_number
0        co       False
1       no2        True
2        o3        True
3      pm25        True
4       so2        True

In [12]:
# returns country and a new coulmn with if they starts with S
query = """
        SELECT country,
            REGEXP_CONTAINS(country, r'^[Ss].*') AS starts_with_s 
        FROM `bigquery-public-data.openaq.global_air_quality`
        """

# Set up the query
query_job = client.query(query)

# API request - run the query, and return a pandas DataFrame
us_cities = query_job.to_dataframe()

us_cities.head()

  country  starts_with_s
0      IN          False
1      IN          False
2      IN          False
3      IN          False
4      IN          False